.container-form {
  width: 860px;
  height: 600px;
  display: block;
  margin: 0 auto;
  margin-top: 10rem;
  background-color: #f5ebe0;
  box-shadow: 0px 0px 10px #ecf5e0;
  border-radius: 15px;
}

.register-form {
  display: flex;
  width: 100%;
  height: 100%;
  .form-group-left {
    width: 100%;
    height: 60%;
    margin-top: 2rem;
    h1,
    h5 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    h1 {
      font-size: 2rem;
      font-weight: 600;
    }
    h5 {
      color: #6d6a6a;
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .form-input {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        input {
          padding: 0.15rem;
          outline: none;
        }
        .form-error {
          margin-left: -15px;
          margin-top: 2px;
        }
      }
      .form-error-2 {
        margin-right: 11.7rem;
      }
      .btn {
        margin-top: 1rem;
        padding: 0.5rem;
        width: 80%;
        border: none;
        color: #fff;
        background: #000;
        border-radius: 3px;
        opacity: 1;
        cursor: pointer;
        &:hover {
          opacity: 0.65;
        }
      }
      .page-title {
        margin-top: 15px;
        color: #7c7676;
        a {
          color: black;
          &:hover {
            color: rgb(207, 168, 39);
          }
        }
      }
    }
  }

  .form-group-right img {
    width: 420px;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
