<div class="container-form mat-elevation-z5">
  <div class="login-form">
    <div class="form-group-left">
      <h1>Wellcome Back!</h1>
      <h5>please enter your email & password !!</h5>
      <form [formGroup]="loginForm" (ngSubmit)="signIn()">
        <mat-form-field class="form-input">
          <input matInput placeholder="Email address" formControlName="email" />
          <mat-error class="form-error" *ngIf="email?.errors?.['required']"
            >Email is required</mat-error
          >
        </mat-form-field>
        <mat-form-field class="form-input">
          <input
            matInput
            placeholder="Password"
            formControlName="password"
            type="password"
          />
          <mat-error class="form-error" *ngIf="password?.errors?.['required']"
            >Password is required</mat-error
          >
        </mat-form-field>
        <button class="btn" mat-raised-button color="primary" type="submit">
          Sign In
        </button>
        <span class="page-title"
          >Don't have an account ? <a routerLink="/register">Sign Up!</a></span
        >
      </form>
    </div>

    <div class="form-group-right">
      <img
        src="https://images.unsplash.com/photo-1684697526198-d1b2c88755fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80"
        alt="img"
      />
    </div>
  </div>
</div>
